/*BASE ELEMENT STYLES*/
* {
  box-sizing: border-box;
}

body {
 margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;

}

img {
  max-width: 100%;
}


/* BASE LAYOUT STYLES */

/*Navigation*/

.main-header {
  width: 100%;

}


.top-bar {
  color: white;
  background-color: blue;
}



.main-nav a {
  color: white;
  background-color: gray;
  padding: 5px, 30px;
  text-align: center;
}

.main-nav ul {
  padding: 100%;
  text-align: center;
}
.portfolio {
  float: center;
  margin: 0px 25px;
  /* width: 300px; */
}




/* Layout Containers */
.body {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 70%;
}
/*
.main-header {


}

.main-footer {


} */




/* MEDIA QUERIES */

@media (min-width: 769px) {
  .main-body {
    width: 70%;
    max-width: 1000px;
    margin: auto;
  }

  /* .name {
    float: left;
  }

  .main-nav {
    float: right;
  } */

}
