/*Header*/
* {
  box-sizing: border-box;
}

/*Navigation*/

.main-header {
  width: 100%;

}
.name, .main-nav li {
  width: 100%;
  background-color: blue;
}

/* Body styles */

.main-photo {
  float: center;
  margin: 0px 25px;
  width: 300px;

}

/*Base Element Styles*/

body {
  line-height: 1.6;
  color: #000;
}












@media (min-width: 789px) {




}
