/*BASE ELEMENT STYLES*/
/* * {
  box-sizing: border-box;
} */

body {
 margin: 0;
 text-align: center;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;

}

img {
  max-width: 70%;

}

h3 {
  font-family: 'Molle', cursive;
}
/* BASE LAYOUT STYLES */

p {
  font-family: 'Zhi Mang Xing', cursive;
}
/*Navigation*/

.main-header {
  width: 100%;
  text-align: center;

}

.top-bar {
  color: white;
  background-color: blue;

}

.main-nav li {
  background-color: gray;
  margin-top: 15px;
}

.main-nav a {
  color: white;
  background-color: gray;
  padding: 5px 0;
  text-align: center;
  margin: 5px;
}

.main-nav ul {
  padding: 5px;
  text-align: center;
}



/* Layout Containers */
.body {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 70%;
}

/* .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: auto;
} */


/*
.main-header {


}

.main-footer {


} */




/* MEDIA QUERIES */

@media (min-width: 768px) {


  .main-body {
    width: 70%;
    max-width: 1000px;
    margin: auto;
  }

  .main-photo {
    float: right;
    margin: 10px;
  }
  .p {
    float: right;
    margin: 10px;
  }
  h2 {
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
  .main-photo, .intro-p {
     display: flex;
  }

  .portfolio:after {
    content: "";
    display: table;
    clear: both;
  }

   /* .container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-self: auto;
   } */

   .sections {
     flex-grow: 1;
   }

  /* .container {
    display: flex;
  } */



}
